<div *ngIf="leagues" style="overflow-x:auto;">

  <table>
    <thead>
      <tr>
        <th>League</th>
        <th>Sport</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let league of leagues | tableFilter:searchText:'strLeague'">
        <td>{{league.strLeague}}</td>
        <td>{{league.strSport}}</td>
        <td><a routerLink="/league-teams/{{league.idLeague}}/{{league.strLeague}}">View Teams</a></td>
        <td><a routerLink="/league-events/{{league.idLeague}}/{{league.strLeague}}">View Next Events</a></td>
      </tr>
    </tbody>
  </table>

</div>