<h2>Leagues</h2>

<div *ngIf="!callInProgress">

  <app-search-bar [initialValue]="searchText" placeHolder="Filter by league name..."
    [autoCompleteMode]="autoCompleteMode" (inputUpdated)="filter($event)">
  </app-search-bar>

  <app-leagues-list [leagues]="leagues" [searchText]="searchText"></app-leagues-list>

  <div *ngIf="!leagues && callCompleted">
    <app-no-results-error></app-no-results-error>
  </div>

</div>

<app-please-wait *ngIf="callInProgress"></app-please-wait>

<app-error-message [message]="errorMessage"></app-error-message>