<div *ngIf="events" style="overflow-x:auto;">

  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th *ngIf="atLeastOneResult">Result</th>
        <th>Date</th>
        <th>Time</th>
        <th>Venue</th>
        <th>Season</th>
        <th>Round</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.strEvent}}</td>
        <td *ngIf="atLeastOneResult && event.intHomeScore && event.intAwayScore">{{event.intHomeScore}} -
          {{event.intAwayScore}}</td>
        <td *ngIf="atLeastOneResult && !event.intHomeScore && !event.intAwayScore"></td>
        <td>{{event.dateEvent}}</td>
        <td>{{event.strTime}}</td>
        <td>{{event.strVenue}}</td>
        <td>{{event.strSeason}}</td>
        <td>{{event.intRound}}</td>
      </tr>
    </tbody>
  </table>

</div>