/* You can add global styles to this file, and also import other style files */

body, html {
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.search-results {
  display: flex;
  flex-direction: column;
}

div.two-col-container {
  display: flex;
  flex-direction: column;
}

.two-col-header {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}

.two-col-image {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
  max-width: 50%;
}

.two-col-image img {
  vertical-align: middle;
  width: 100%;
}

.two-col-info {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
  max-width: 50%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .two-col-image, .two-col-info {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}