/* You can add global styles to this file, and also import other style files */

body, html {
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.search-results {
  display: flex;
  flex-direction: column;
}

div.two-col-container {
  display: flex;
  flex-direction: column;
}

div.two-col-container>* {
  margin: 20px;
}

.two-col-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.two-col-image {
  width: 300px;
}

.two-col-image img {
  vertical-align: middle;
  width: 100%;
}