<div class="header-container">

  <div class="logo">Sports Catalog</div>

  <div class="topnav" style="flex: 1" [ngClass]="{'responsive': menuOpened}" id="myTopnav">
    <a [routerLink]="" (click)="goToRoute('home')">Home</a>
    <a [routerLink]="" (click)="goToRoute('players')">Players</a>
    <a [routerLink]="" (click)="goToRoute('teams')">Teams</a>
    <a [routerLink]="" (click)="goToRoute('leagues')">Leagues</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="menuButtonClicked()">&#9776;</a>
  </div>

</div>

<div class="breadcrumb">Current Page: <span>{{currentUrl}}</span></div>